@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root{
    /* radius */
    --radius: 1rem;

    /* Colors */
    --clr-body: hsl(212, 45%, 89%);
    --clr-container: hsl(0, 0%, 100%);
    --clr-title: hsl(218, 44%, 22%);
    --clr-subtitle: hsl(220, 15%, 55%);

    /* Typography */
    --ff-body: 'Outfit',sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: var(--ff-body);
    background-color: var(--clr-body);
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.card{
    max-width: 320px;
    background-color: var(--clr-container);
    padding: 1rem;
    border-radius: var(--radius);
    margin: 0 1rem;
}

.card-img{
    border-radius: .7rem;
}


.card-text{
    margin: 1rem;
    text-align: center;
}

.title{
    margin-bottom: 1rem;
    color: var(--clr-title);
    font-size: 1.375rem;
}

.subtitle{
    color: var(--clr-subtitle);
}



